<li class="list-group">
  <div toscaStateColor [state]="cl.state" id="{{ 'CLInstance' + index }}"
       (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">{{ cl.name }}</div>
  <div class="cl-inner-panel" [(ngbCollapse)]="!isCollapsed" #collapse="ngbCollapse">
    <div class="list-group" *ngFor="let clEl of clList.clEl">
      <button
        toscaStateColor
        [state]="clEl.state"
        (click)="openModal(clEl)">{{ clEl.description }}</button>
    </div>
  </div>
</li>

<tosca-modal id="clElementStatistics">
  <h1>Control Loop Element Statistics</h1>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary">{{ clList }}</button>

  </div>
  <!--<button type="button" class="btn btn-outline-dark" (click)="closeModal('clElementStatistics')">Close</button>-->
</tosca-modal>
