<!--<button class="btn btn-outline-primary" (click)="openDialog(alertModal)">Open Modal</button>-->
<ng-template #alertModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="alert-title">Alert Modal</h5>
    <button type="button" class="btn close" aria-label="Close" tabindex="-1" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    This is an alert modal!
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" tabindex="-1" (click)="modal.close('Button click')">Close</button>
  </div>
</ng-template>
